<div class="landing">
<<<<<<< HEAD
	<div class="container">
		<h2>Markee</h2>
		<h4>Save your bookmarks and access it anywhere, anytime!</h4>
=======
	<div class="container center-align">
		<h2>Hi! I'm Markee.</h2>
		<h4 class="element"></h4>
<<<<<<< HEAD
>>>>>>> develop
=======
		<div class="row">
			<%= link_to("Register", new_user_registration_path , class: 'btn btn-large z-depth-5') %>
			<%= link_to("Login", new_user_session_path , class: 'btn btn-large z-depth-5') %>
		</div>
>>>>>>> develop
	</div>
</div>
