<div class="landing">
<<<<<<< HEAD
	<div class="container">
		<h2>Markee</h2>
		<h4>Save your bookmarks and access it anywhere, anytime!</h4>
=======
	<div class="container center-align">
		<h2>Markee</h2>
		<h4 class="element"></h4>
>>>>>>> develop
	</div>
</div>