<div class="landing">
	<div class="container center-align">
		<h2>Hi! I'm Markee.</h2>
		<h4 class="element"></h4>
		<div class="row">
			<%= link_to("Register", new_user_registration_path , class: 'btn btn-large z-depth-3') %>
			<%= link_to("Login", new_user_session_path , class: 'btn btn-large z-depth-3') %>
		</div>
	</div>
</div>