<div class="row">
	<div class="col s3">
		<%= render('pages/categories')%>
	</div>
	<div class="col s8">	
	  	<%= render('pages/links') %>   
	</div>
</div>

<div class="fixed-action-btn click-to-toggle">
	<a class="waves-effect waves-light btn-floating btn-large blue z-depth-3" href="#modal1">
	  <i class="large material-icons">mode_edit</i>
	</a>
</div>

<%= render('pages/addlink')%>