$primary-color: color("grey", "lighten-5") !default;
$font-color: color("blue","darken-1") !default;
$secondary-color: color("blue", "base") !default;
$social-icon-size: 35px;

body{
    background-color: whitespace;
}
.logo{
    font-family: 'Oleo Script', cursive;
    font-size: 35px;
    margin-left: 20px;
}

.tabs .indicator {
    background-color: $primary-color !important;
}

.gravatar{
    height: 64px;
    width: 64px;
}

#dropdown1{
    li{
        text-transform: capitalize;
    }
}

.pagination a li.active {
  color: $font-color;
}

.social-share-button {
  .ssb-icon {
    background-size: $social-icon-size $social-icon-size;
    height: $social-icon-size;
    width: $social-icon-size;
  }
}

.design{
     content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
    background-image: image-url('background1.png');
    background-repeat: no-repeat center center-fixed;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}